.loader {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(top -50%, left -50%);
  width: 80px;
  height: 80px;
}
.loader:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #0138ff;
  border-color: #0000fb transparent #0008fa transparent;
  animation: loader 1.2s infinite;
}
.castItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
}
